@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="splash-banner">
    <h1>Dungeons & Dragons</h1>
    <hr />
    <h2>Campaign Assistant</h2>      
    <img src="~/Imgs/dragon.gif" id="drgn-img"><img />   
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <strong><lh>Features to Include</lh></strong>
                <li>Dice Rolling Utility</li>
                <li>Character Creation</li>
                <li>Character Tracking</li>
            </ul>
        </div>
     </div>  
</div>

